@model MDM_UI.Models.LanguageMap

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>LanguageMap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mission" class="control-label"></label>
                <select asp-for="MissionId" class="form-control" asp-items="ViewBag.MissionId"></select>
                <span asp-validation-for="MissionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryOps" class="control-label"></label>
                <select asp-for="CountryOpsId" class="form-control" asp-items="ViewBag.CountryOpsId"></select>
                <span asp-validation-for="CountryOpsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitOps" class="control-label"></label>
                <select asp-for="UnitOpsId" class="form-control" asp-items="ViewBag.UnitOpsId"></select>
                <span asp-validation-for="UnitOpsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
